<div class="container">
  <div class="divstyle">
    <h2 class="main-text">
      Here you can register your name and create a new game!
    </h2>
    <div md-form>
      <input
        class="myInput"
        [value]="playerName"
        (input)="playerName = $event.target.value"
        placeholder="Your Name"
      />

      <button
          class="btn"
          (click)="createGame()"
        >
          Create game
        </button>
    </div>

    <div class="center">
      <div
        [ngClass]="[showSpinner]"
        role="status"
      >
        <span class="sr-only">Loading...</span>
      </div>
      <div
      [ngClass]="[divStyle]"
      >
            <h5 class="succes-text">Success</h5>
            <p class="smaller-text text-justify">
              Go ahead and invite some friends to play with! You can use the
              invitation code provided below to invite them!
            </p>
            <div class="text-center">
              <p class="card-text">{{ gameId }}</p>
              <a
              class="card-link btn btn-success"
              (click)="copyText()"
              value="click to copy"
              >Copy code</a
            >
            </div>

        <div style="margin-top: 20px">
          <waiting-room [gameId]="gameId" [players]="[]"></waiting-room>
        </div>
        <div class="text-center">
          <button class="btn btn-lg btn-primary" (click)="startGame()">
            Start
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
