<!DOCTYPE html>
<html>
  <div class="container">
    <div class="divstyle">
      <h2 class="main-text">
        Here you can enter a code and connect the game's waiting room!
      </h2>
        <div md-form>
          <input
            class="myInput"
            [value]="gameId"
            (input)="gameId = $event.target.value"
            placeholder="Paste the game's code"
          />
          <input
            class="myInput"
            [value]="playerName"
            (input)="playerName = $event.target.value"
            placeholder="Your Name"
          />
          <div class="center">
            <button
              class="btn"
              (click)="subscribeGame()"
            >
              Connect game
            </button>
          </div>
        </div>

        <div class="center">
          <div class="center" [ngClass]="[divStyle]">
            <h2 class="main-text">Players: </h2>
            <div>
              <waiting-room [gameId]="gameId" [players]="[]"></waiting-room>
            </div>
          </div>
      </div>
    </div>
  </div>
</html>