<div class="container">
  <div *ngFor="let player of players">
    <div class="card">
      <div class="card-body">
        <div class="row">
          <div class="col-6 text-left">
            <h3>{{player.name}}</h3>
          </div>
          <div class="col-6 text-right">
			<color-github *ngIf="showColorPicker" style="z-index: 10; position: absolute; top: 5.8vh; left: 11vw;" (onChange)="handleChange($event, player)"></color-github>
            <button
              class="btn"
              [ngStyle]="{'display': canModifyColor(player.playerId)}"
			  [style.background-color]="player.color"
			  (click)="showColorPicker=!showColorPicker"
            >
              Pick color
            </button>
          </div>
        </div>
      </div>
    </div>
    <br />
  </div>
</div>
