<div class="container-fluid">
  <app-stat-table
    class="stat-table"
    [players]="tableInfo.playerInfo"
    [currentPlayer]="tableInfo.currentPlayer"
  ></app-stat-table>
  <!-- game board -->
  <div
    class="row"
    style="height: 80.5vh; cursor: move; background-color: #fafafa;"
    mouseWheel
    (mousedown)="onMoveStart($event)"
    (mouseup)="onMoveEnd($event)"
    (mousemove)="onMoving($event)"
    (mouseenter)="mouseEnter($event)"
    (mouseleave)="mouseLeave($event)"
    (mouseWheelUp)="mouseWheelUp($event)"
    (mouseWheelDown)="mouseWheelDown($event)"
  >
    <div
      id="gamePlayArea"
      *ngFor="let tileonTable of tableInfo.tableInfo"
      [ngStyle]="{
        position: 'absolute',
        height: 'min-content',
        width: 'min-content',
        'left.px': tileSize * tileonTable.position.x + shift.x,
        'top.px': tileSize * tileonTable.position.y + shift.y
      }"
    >
    <div [ngStyle]="{
        position: 'absolute',
        height: 'min-content',
        width: 'min-content',
        'left.%': getShiftXForFigure(tileonTable.figure),
        'top.%': getShiftYForFigure(tileonTable.figure),
        'z-index': '1'
      }"
    >
      <div
        *ngIf="isFigureNull(tileonTable.figure)"
        [ngStyle]="{
          position: absolute,
          'width.px': tileSize * 0.4,
          'height.px': tileSize * 0.4,
          display: 'block',
          background: 'url(../assets/meeple.png)',
          'background-size': 'cover',
          'background-repeat': 'no-repeat'
        }"
      ></div>
    </div>
      <div
        [ngStyle]="{
          position: absolute,
          'width.px': tileSize,
          'height.px': tileSize,
          display: 'block',
          background: 'url(../assets/Tiles/' + tileonTable.tile + '.png)',
          'background-size': 'cover',
          'background-repeat': 'no-repeat',
          transform: 'rotate(' + tileonTable.rotation + 'deg)
				'
        }"
      >
        <div
          [ngStyle]="{
            position: 'relative',
            visibility: checkCanPlaceFigure(tileonTable),
            'width.px': tileSize,
            'height.px': tileSize,
            display: 'block',
            transform: 'rotate(' + tileonTable.rotation * -1 + 'deg)'
          }"
        >
          <button
            class="btn-sm btn-secondary"
            [ngStyle]="{
              'width.px': tileSize * 0.6,
              'height.px': tileSize * 0.2,
              'margin-top.px': '0',
              position: 'absolute',
              'left.px': tileSize * 0.2
            }"
            (click)="placeFigure(0)"
            *ngIf="isButtonActive(0)"
          ></button>
          <button
            class="btn-sm btn-primary"
            [ngStyle]="{
              'width.px': tileSize * 0.2,
              position: 'absolute',
              'height.px': tileSize * 0.6,
              'vertical-align': 'center',
              'left.px': 0,
              'top.px': 0.2 * tileSize
            }"
            (click)="placeFigure(3)"
            *ngIf="isButtonActive(3)"
          ></button>
          <button
            class="btn-sm btn-info"
            [ngStyle]="{
              position: 'absolute',
              'right.px': '0',
              'top.px': 0.2 * tileSize,
              'width.px': tileSize * 0.2,
              'height.px': tileSize * 0.6
            }"
            (click)="placeFigure(1)"
            *ngIf="isButtonActive(1)"
          ></button>
          <button
            class="btn-sm btn-warning"
            [ngStyle]="{
              'width.px': tileSize * 0.6,
              'height.px': tileSize * 0.2,
              'left.px': tileSize * 0.2,
              position: 'absolute',
              'top.px': 0.8 * tileSize
            }"
            (click)="placeFigure(2)"
            *ngIf="isButtonActive(2)"
          ></button>
        </div>
      </div>
    </div>
    <div
      id="placeTileArea"
      [ngStyle]="{
        position: 'absolute',
        height: 'min-content',
        width: 'min-content',
        'left.px': tileSize * pos.x + shift.x,
        'top.px': tileSize * pos.y + shift.y
      }"
      *ngFor="let pos of placePositions"
    >
      <div
        (click)="placeTile(pos.x, pos.y)"
        [ngStyle]="{
          position: absolute,
          'width.px': tileSize,
          'height.px': tileSize,
          display: 'block',
          background: 'url(../assets/place.jpg)',
          'background-size': 'cover',
          cursor: 'pointer'
        }"
      ></div>
    </div>
    <!-- control panel -->
    <div
      class="row fixed-bottom"
      style="align-items: center; height: 12.5vh; background-color: #ededed"
    >
      <div class="col text-right">
        <button
          class="btn btn-secondary"
          (click)="getNewTile()"
          [disabled]="!canGetNewTile ? true : null"
        >
          Get new tile
        </button>
        <button class="btn btn-warning" (click)="rotate(-90)">
          Rotate left
        </button>
      </div>
      <div
        class="col-1"
        [ngStyle]="{
          'width.px': 75,
          'height.px': 75,
          'max-width.px': 75,
          'max-height.px': 75,
          'min-width.px': 75,
          'min-height.px': 75,
          background:
            'url(../assets/Tiles/' +
            currentTile +
            '.png) center center / cover no-repeat',
          transform: 'rotate(' + tileToPlace.RotateAngle + 'deg)'
        }"
      ></div>
      <div class="col text-left">
        <button class="btn btn-warning" (click)="rotate(90)">
          Rotate right
        </button>
        <button class="btn btn-secondary" (click)="endTurn()">
          End turn
        </button>
      </div>
    </div>
  </div>
</div>
